pvporcupine==3.0.5
pvrecorder~=1.2.7
pvspeaker==1.0.5
openai~=1.77.0
requests~=2.32.3
pydub~=0.25.1
requests~=2.32.3
langflow==1.4.1
langchain==0.3.21
langchain-community==0.3.20
fastapi==0.115.2
uvicorn==0.30.0
python-dotenv==1.0.1
audioop-lts